# macOS
.DS_Store

# Node/Frontend
node_modules/
dist/
.tmp/
.angular/
.next/
out/
coverage/
*.log
**/dist/
**/.angular/
**/.next/
**/out/

# Angular cache
.angular/cache/

# .NET
**/bin/
**/obj/
*.user
*.suo

# Docker
**/.dockerignore
